<div class="panel panel-primary ng-cloak">
	<div class="panel-heading">{{"NOT NAMED PAGES" | translate}}</div>
	<div class="panel-body" style="background: #F0F0F0">
		<form>
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-2 control-label">{{"Unnamed pages" | translate}}</label>
					<div class="col-sm-10">
						<div class="btn-group" role="group" aria-label="...">
							<button
								type="button" 
								class="btn btn-warning btn-sm" 
								style="width: 40px; margin:0 5px;" 
								ng-repeat="page in $ctrl.getUnselectedPages() | limitTo: $ctrl.limit" 
								ng-click="">
								{{page}}
							</button>
							<button 
								type="button" 
								class="btn btn-warning btn-sm" 
								style="width: 40px; margin:0 5px;" 
								ng-if="$ctrl.hasMoreUnselectedPagesThanLimit()" >
								...
							</button>
						</div>
						<button 
							ng-cloak
							type="button" 
							class="btn btn-success btn-md disabled" 
							ng-if="$ctrl.hasNoUnselectedPages()">
							{{"All pages are named" | translate}}
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>