<div class="panel panel-primary" ng-repeat="document in $ctrl.documents track by $index">
    <div class="panel-heading">'{{"RANGE DIVISION" | translate}}: {{ $ctrl.documents - $index }} {{"of" | translate}} {{
        $ctrl.getDocuments().length}}
        <div class="pull-right m-top-minus-4">
            <button class="btn btn-primary btn-xs" ng-disabled="!$ctrl.isPossibleToAddAnotherRange()" ng-click="$ctrl.addNewForm($index)">
                <span class="glyphicon glyphicon-plus"></span></button>
            <button class="btn btn-primary btn-xs" ng-disabled="!$ctrl.isPossibleToAddAnotherRange()" ng-click="$ctrl.copyForm($index)">
                <span class="glyphicon glyphicon-duplicate"></span></button>
            <button class="btn btn-primary btn-xs" ng-click="$ctrl.collapse($index)">
                <span class="glyphicon" ng-class="$ctrl.getCollapseClass($index)"></span>
            </button>
            <button class="btn btn-danger btn-xs" ng-click="$ctrl.deleteForm($index)" ng-disabled="$ctrl.isDeleteButtonDisabled()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
    <div class="panel-body grey-background" ng-hide="$ctrl.isCollapsed($index)">
        <div class="row">
            <div>
                <span class="form-group">
                    <label class="col-sm-2 control-label text-right">{{'Page' | translate}}*</label>
                    <div class="col-sm-1" ng-class="{'has-error': $ctrl.hasError('rangeStart', $index)}">
                        <input type="number"
                                min="1"
                                name="rangeStart[{{$index}}]"
                                ng-model="document.rngRange.rangeStart"
                                ng-blur="$ctrl.fixStartRange($index, $event)"
                                class="form-control number-input input-range"
                                placeholder="1"
                                autocomplete="off"
                                required>
                                
                    </div>
                </span>
                <span class="form-group">
                    <label class="col-sm-1 control-label text-right">{{'to' | translate}}*</label>
                    <div class="col-sm-1" ng-class="{'has-error': $ctrl.hasError('rangeEnd', $index)}">
                        <input type="number"
                                min="1"
                                name="rangeEnd[{{$index}}]"
                                ng-model="document.rngRange.rangeEnd"
                                ng-blur="$ctrl.fixEndRange($index, $event)"
                                class="form-control number-input input-range"
                                required
                                autocomplete="off">
                    </div>
                </span>
                <span class="form-check-inline col-sm-offset-1 col-sm-3">
                    <input type="checkbox" ng-model="document.rngDelete"
                            name="delete[{{$index}}]" class="form-check-input"
                            ng-disabled="$ctrl.isDataSetInDocument($index, 'rngWorkflowType')">
                    <label class="form-check-label">{{'Delete' | translate}}</label>
                </span>
                <span class="form-check-inline col-sm-3">
                    <input type="checkbox" ng-model="document.rngWorkflowType" 
                            name="workflow[{{$index}}]" class="form-check-input"
                            ng-disabled="$ctrl.isDataSetInDocument($index, 'rngDelete')">
                    <label class="form-check-label">{{'Invoice' | translate}}</label>
                </span>
            </div>
        </div>
        <div ng-hide="$ctrl.isCheckboxSelected(document.rngDelete) || $ctrl.isCheckboxSelected(document.rngWorkflowType)">
            <div class="m-top-15">
                <div class="form-horizontal">
                    <!-- workspace category -->
                    <div class="form-group" novalidate
                            ng-class="{'has-error': $ctrl.hasError('workspaceCategorie', $index)}">
                        <label class="col-xs-2 control-label">{{'Workspace Category' | translate}}*</label>
                        <div class="btn-group col-xs-10">
                            <select class="form-control"
                                    name="workspaceCategorie[{{$index}}]"
                                    ng-model="document.rngSapObject"
                                    ng-options="item.value as item.name for item in $ctrl.fields.workspaceCategoryOptions"
                                    ng-change="$ctrl.getDocTypeGroupOptions($index, true)">
                            </select>
                        </div>
                        <span ng-if="$ctrl.hasWorkspaceRequiredError(document, $index);"
                                class="text-danger">{{'This field is required.' | translate}}</span>
                    </div>
                    <!-- business-workspace -->
                    <div novalidate class="form-group"
                            ng-class="{'has-error': $ctrl.hasError('businessWorkspace', $index)}"
                            novalidate>
                        <label class="col-xs-2 control-label">{{'Business Workspace' | translate}}*</label>
                        <div class="col-sm-10"
                                novalidate
                                ng-class="{'has-error': $ctrl.hasError('businessWorkspace', $index)}">
                            <input type="text"
                                    ng-if="!$ctrl.isBusinessWorkspaceValid($index)"
                                    name="businessWorkspace[{{$index}}]"
                                    ng-model="document.rngBusinessWorkspace"
                                    uib-typeahead="item as item.name for item in $ctrl.fields.businessWorkspaceOptions"
                                    class="form-control"
                                    ng-keyup="$ctrl.getBusinessWorkspaceOptions($parent.$index)"
                                    ng-disabled="!$ctrl.isDataSetInDocument($index, 'rngSapObject')"
                                    required>
                            <span ng-if="$ctrl.hasRequiredError('businessWorkspace', $index)"
                                    class="text-danger">{{'This field is required.' | translate}}</span>
                            <span ng-if="$ctrl.hasError('businessWorkspace', $index)"
                                    class="text-danger">{{'There are invalid characters' | translate}}.</span>
                        </div>
                        <div ng-if="$ctrl.isBusinessWorkspaceValid($index)">
                            <div class="col-sm-9" novalidate>
                                <div name="SelectedBusinessWorkspace[{{$index}}]"
                                        class="form-control"
                                        disabled>
                                    {{document.rngBusinessWorkspace.name}}
                                </div>
                            </div>
                            <button
                                    type="button"
                                    ng-click="$ctrl.clearBusinessWorkspace($index)"
                                    class="btn btn-warning">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                    <!-- doc type group -->
                    <div class="form-group"
                            novalidate
                            ng-class="{'has-error': $ctrl.hasError('docTypeGroup', $index)}">
                        <label class="col-xs-2 control-label">{{'Document type group' | translate}}*</label>
                        <div class="btn-group col-xs-10">
                            <select
                                    class="form-control"
                                    name="docTypeGroup[{{$index}}]"
                                    ng-model="document.rngDocumenttypeGroep"
                                    ng-options="item.value as item.name for item in $ctrl.fields.docTypeGroupOptions"
                                    ng-disabled="$ctrl.isDatatypeGroupDisabled($index)"
                                    ng-change="$ctrl.getDocumentTypeOptions($index);"
                                    required>
                            </select>
                        </div>
                        <span ng-if="$ctrl.hasRequiredError('docTypeGroup', $index)"
                                class="text-danger col-xs-10">{{'This field is required.' | translate}}</span>
                    </div>
                    <!-- doc type -->
                    <div class="form-group" novalidate
                            ng-class="{'has-error': $ctrl.hasError('documentType', $index) }">
                        <label class="col-xs-2 control-label">{{'Document Type' | translate}}*</label>
                        <div class="btn-group col-xs-10">
                            <select
                                    class="form-control"
                                    name="documentType[{{$index}}]"
                                    ng-model="document.rngDocumenttype"
                                    ng-options="item.value as item.name for item in $ctrl.fields.doctypeOptions"
                                    ng-disabled="!$ctrl.isDataSetInDocument($index, 'rngDocumenttypeGroep')"
                                    ng-change="$ctrl.setupDocumentType($index)"
                                    required>
                            </select>
                        </div>
                        <span ng-if="$ctrl.hasDocTypeRequiredError(document, $index)" class="text-danger">{{'This field is required.' | translate}}</span>
                    </div>
                    <!-- Target folder -->
                    <div class="form-group" novalidate
                            ng-class="{'has-error': $ctrl.hasError('documentType', $index) }">
                        <label class="col-xs-2 control-label">{{'Target folder' | translate}}*</label>
                        <div class="btn-group col-xs-10">
                            <select
                                    class="form-control"
                                    name="targetFolder[{{$index}}]"
                                    ng-model="document.rngFolderID"
                                    ng-options="item.value as item.name for item in $ctrl.fields.doctypeSubfolderOptions"
                                    ng-disabled="$ctrl.isTargetFolderDisabled($index)">
                            </select>
                        </div>
                        <span ng-if="$ctrl.hasDocTypeRequiredError(document, $index)" class="text-danger">{{'This field is required.' | translate}}</span>
                    </div>

                    <div class="form-group" novalidate>
                        <label class="col-xs-2 control-label">{{'Document name' | translate}}</label>
                        <div class="dn-group"><span class="dn-date"
                                    ng-class="{'has-error': $ctrl.hasError('docNameTimestamp', $index)}">
                                <div class="document-naam-input"></div>
                                <input type="text"
                                        name="docNameTimestamp[{{$index}}]"this.names[index].docNameTimestamp
                                        ng-model="$ctrl.names[$index].docNameTimestamp"
                                        ng-disabled="!$ctrl.isDataSetInDocument($index, 'rngDocumenttype')"
                                        class="form-control dn-input"
                                        placeholder="JJJJMMDD"
                                        ng-change="$ctrl.combineDocNameFields($index)"
                                        ng-pattern="$ctrl.validationPatterns.timestampPattern"
                                        required>
                            </span>
                            <span class="dn-doctype"
                                    ng-class="{'has-error': $ctrl.hasError('docNameDocType', $index)}">
                                <div class="document-naam-input"></div>
                                <input type="text"
                                        name="docNameDocType[{{$index}}]"
                                        ng-model="$ctrl.names[$index].docNameDocType"
                                        ng-disabled="$ctrl.isDoctypeDisabled($index)"
                                        ng-pattern="$ctrl.validationPatterns.doctypePattern"
                                        class="form-control dn-input"
                                        placeholder="Documenttype"
                                        ng-change="$ctrl.combineDocNameFields($index)"
                                        required>
                            </span>
                            <span class="dn-name"
                                    ng-class="{'has-error': $ctrl.hasError('docName', $index)}">
                                <div class="document-naam-input"></div>
                                <input type="text"
                                        name="docName[{{$index}}]"
                                        ng-disabled="!$ctrl.isDataSetInDocument($index, 'rngDocumenttype')"
                                        ng-model="$ctrl.names[$index].docName"
                                        ng-pattern="$ctrl.validationPatterns.docnamePattern"
                                        class="form-control dn-name"
                                        placeholder="Documentnaam"
                                        ng-change="$ctrl.combineDocNameFields($index)"
                                        ng-required="true">
                            </span>
                        </div>
                        <div class="col-xs-offset-2">
                            <span ng-if="(nameForm.$error.required && !$ctrl.docName && nameForm.$dirty)"
                                    class="text-danger required-document-naam">{{'This field is required.' | translate}}</span>
                            <span ng-if="nameForm.$invalid && nameForm.$dirty"
                                    class="text-danger">
                                {{'There are invalid characters' | translate}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">{{'Result' | translate}}:</label>
                        <div class="col-sm-10">
                            <div class="form-control" disabled>{{$ctrl.combineDocNameFields($index)}}</div>
                        </div>
                    </div>
                    <div class="form-group" novalidate>
                        <label class="col-xs-2 control-label">{{'Description' | translate}}</label>
                        <div class="col-sm-10">
                            <input type="text" name="beschrijving[{{$index}}]" ng-model="document.rngOmschrijving"
                                    class="form-control">
                        </div>
                    </div>
                    <div class="form-group" novalidate>
                        <div class="col-sm-2"></div>
                        <div class="form-group">
                            <input type="checkbox" name="followUp[{{$index}}]" class="form-check-input" 
                            ng-model="document.followUp">
                            <label class="form-check-label">{{'Follow up' | translate}}</label>
                        </div>
                    </div>
                    <div ng-if="$ctrl.isCheckboxSelected(document.followUp)">
                        <div class="form-group" novalidate>
                            <label class="col-xs-2 control-label">{{'Treating' | translate}}*</label>
                            <div class="col-sm-10"
                                    ng-class="{'has-error': $ctrl.hasError('behandelaar', $index)}">
                                <input type="text"
                                        name="behandelaar[{{$index}}]"
                                        ng-model="document.rngBehandelaarID"
                                        class="form-control"
                                        required
                                        uib-typeahead="item as item.name for item in $ctrl.findUser($viewValue)"
                                        ng-pattern="$ctrl.validationPatterns.behandelaarPattern">
                            </div>
                            <div class="col-sm-9 col-sm-offset-2">
                                <span ng-if="$ctrl.hasBehandelaarRequiredError($index)"
                                        class="text-danger">{{'This field is required.' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group"
                                ng-class="{'has-error': $ctrl.hasError('followUpDate', $index)}"
                                novalidate>
                            <label class="col-xs-2 control-label">{{'Follow up date' | translate}}*</label>
                            <div class=" col-xs-10">
                                <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="$ctrl.toggleDatePicker()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                                    <input type="text"
                                            name="followUpDate[{{$index}}]"
                                            class="form-control"
                                            uib-datepicker-popup="dd-MM-yyyy"
                                            ng-model="document.rngFollowUpDate"
                                            is-open="$ctrl.fields.showPicker"
                                            ng-required="document.followUp"
                                            close-text="Sluiten"
                                            current-text="Vandaag"
                                            clear-text="Leeg"
                                            ng-click="$ctrl.toggleDatePicker()"
                                            popup-placement="top-left"
                                            format="dd-MM-yyyy"
                                    />
                                </div>
                            </div>
                            <div class="col-sm-9 col-sm-offset-2">
                                <span ng-if="$ctrl.hasFollowUpdateRequiredError(document, $index)"
                                        class="text-danger">{{'This field is required.' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group"
                                ng-class="{'has-error': $ctrl.hasError('followUpBinnen', $index)}"
                                novalidate>
                            <label class="col-xs-2 control-label">{{'Follow up reminder' | translate}}*</label>
                            <div class="btn-group col-xs-10">
                                <select class="form-control" ng-model="document.rngFollowupDays"
                                        ng-options="item.value as item.name for item in $ctrl.fields.followUpOptions"
                                        ng-required="document.followUp">
                                </select>
                            </div>
                            <span ng-if="$ctrl.hasFollowUpBinnenRequiredError(document, $index)"
                                    class="text-danger">{{'This field is required.' | translate}}</span>
                        </div>
                        <div class="form-group" novalidate>
                            <label class="col-xs-2 control-label">{{'Follow up description' | translate}}</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="document.rngFolluwpDescription" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>