<div class="repeatsection" ng-repeat="element in model[options.key] | orderBy:'':true track by $index"
     ng-init="fields = copyFields(to.fields)">
    <div class="panel panel-primary">
        <div class="panel-heading">RANGE SPLITSING: {{model[options.key].length-$index}}
            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteRange($index)"
                    ng-disabled="model[options.key].length===1" style="float: right">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

            <button type="button" class="btn btn-primary btn-xs" style="float: right"
                    ng-click="hideSection = !hideSection" ng-show="!hideSection">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs" style="float: right"
                    ng-click="hideSection = !hideSection" ng-show="hideSection">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>

            <button type="button" class="btn btn-primary btn-xs" style="float: right" ng-click="copyRange(element)">
                <span class="glyphicon glyphicon-duplicate"></span>
            </button>

            <button type="button" class="btn btn-primary btn-xs" style="float: right" ng-click="addEmptyRange()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="panel-body" ng-show="!hideSection">
            <formly-form fields="fields" model="element" form="form"></formly-form>
        </div>
    </div>
</div>