<form name="$ctrl.featureForm" ng-if="$ctrl.display" check-change>
    <unselected-pages-form limit="13"></unselected-pages-form>
    <div class="alert alert-danger" role="alert" ng-if="$ctrl.warning.display">{{$ctrl.warning.text}}</div>
    <documents-form></documents-form>
    <close-modal class="hidden"></close-modal>

    <nav class="navbar navbar-primary navbar-fixed-bottom" style="min-height:0px; margin-bottom: 2px; align: left">
        <div>
            <div class="btn-toolbar" role="toolbar" style="margin-left: 10%">

                <button type="button" class="btn btn-primary" ng-click="$ctrl.openCloseModal('close')">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> {{'Close' | translate}}
                </button>
                <button type="button" class="btn"
                        ng-class="{ 'btn-success': $ctrl.dataHasBeenChanged, 'btn-primary': !$ctrl.dataHasBeenChanged }"
                        data-loading-text="<i class='glyphicon glyphicon-refresh glyphicon-spin'></i> {{'Save' | translate}}"
                        ng-click="$ctrl.saveForm($event)"
						ng-disabled="!$ctrl.dataHasBeenChanged">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> {{'Save' | translate}}
                </button>
                <button type="button" class="btn"
                        ng-class="{ 'btn-success': $ctrl.isFormDataValid(), 'btn-primary': !$ctrl.isFormDataValid() }"
                        data-loading-text="<i class='glyphicon glyphicon-refresh glyphicon-spin'></i> {{'Archive' | translate}}"
                        ng-click="$ctrl.validateOrSaveAndFinish($event)"
						ng-disabled="!$ctrl.isFormDataValid()">
                    <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> {{'Archive' | translate}}
                </button>
                <button type="button" class="btn btn-danger"
                        ng-click="$ctrl.openCloseModal('discard')">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{'Trash' | translate}}
                </button>
            </div>
        </div>
    </nav>
</form>
<toast></toast>
