<div class="panel panel-primary">
    <div class="panel-heading hg40">
        <span> {{'Distribute mail. Accept, Delegate or Cancel job' | translate}} </span>
        <button type="button"
                class="btn btn-xs btn-primary pull-right"
                ng-click="$ctrl.toggle()">
            <span class="glyphicon" ng-class="$ctrl.getToggleClass()"></span>
        </button>
    </div>
    <div class="panel-body grey-background" ng-if="$ctrl.display">
        <form>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-2 control-label">
                        {{'Delegate to person' | translate}}
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               placeholder="{{'Zoek op achternaam' | translate}}"
                               ng-model="$ctrl.model.delegate"
                               uib-typeahead="item as item.name for item in $ctrl.findUser($viewValue)"
                               ng-disabled="$ctrl.model.mailbox.value">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-2 control-label">{{'Mailbox' | translate}}</label>
                    <div class="col-sm-10">
                        <select class="form-control"
                                ng-model="$ctrl.model.mailbox"
                                ng-change="$ctrl.getPracticionersGroup($ctrl.model.mailbox.value)"
                                ng-options="item as item.name for item in $ctrl.fields.mailbox"
                                ng-disabled="$ctrl.model.delegate.value"></select>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-2 control-label">{{'Practitioners Group' | translate}}</label>
                    <div class="col-sm-10">
                        <select class="form-control"
                                ng-model="$ctrl.model.practitionersGroup"
                                ng-options="item as item.name for item in $ctrl.fields.practitionersGroup"
                                ng-disabled="!$ctrl.fields.mailbox ||
                                              $ctrl.fields.mailbox.length === 0 ||
                                              $ctrl.model.delegate.value"></select>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-2 control-label">{{'Comments' | translate}}</label>
                    <div class="col-sm-10">
                        <textarea class="form-control"
                                  ng-model="$ctrl.data.Opmerkingen" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <button type="button" class="btn btn-danger"
                    ng-click="$ctrl.cancelWorkflow()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{'Cancel assignment' | translate}}
            </button>
            <button type="button" class="btn btn-success"
                    ng-click="$ctrl.acceptAssignment()">
                <!--ng-click="$ctrl.acceptAssignment()">-->
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{'Accept assignment' | translate}}
            </button>
            <button type="button" class="btn btn-primary" ng-class="{'btn-success': $ctrl.isDelegateButtonActive()}"
                    ng-disabled="!$ctrl.isDelegateButtonActive()"
                    ng-click="$ctrl.delegateWorkflow()">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> {{'Delegate assignment' |
                translate}}
            </button>
        </div>

    </div>
</div>
<!--<pre>{{$ctrl.model | json}}</pre>
<pre>{{$ctrl.fields | json}}</pre>-->

