html {
    height: 100%;
}

body {
    font-size: 12px;
    line-height: 13px;
    font-family: Helvetica, Arial;
    height: 100%;
}

#llForm {
    display: none;
}

.print-section {
    page-break-inside: avoid;
}

@media screen {
    .cs-section-header {
        font: 15px Helvetica, Arial;
        font-weight: bold;
        height: 35px;
        background-color: #5484c3 !important;
        padding-top: 10px;
        color: #fff !important;
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .cs-section-header {
        font: 15px Helvetica, Arial;
        font-weight: bold;
        height: 35px;
        background-color: #5484c3 !important;
        padding-top: 10px;
        -webkit-print-color-adjust: exact;
        color: #FFF !important;
        text-shadow: 0 0 3px #FFF !important;
    }
}

.cs-form-section {
    border-color: #ddd;
    border-style: solid;
    border-width: 0px;
    background: linear-gradient(to bottom, rgba(242, 239, 250, 0.21), rgba(84, 123, 195, 0.21));
    /*background-gradient: #e8effa - top; #5484c3 - bottom; -90 degrees;*/
}

.cs-form-border-active {
    background: linear-gradient(to bottom, rgba(242, 239, 250, 0.11), rgba(84, 123, 195, 0.11));
}

.cs-label {
    /*	font-size: 75%;	 */
    text-align: left;
    vertical-align: middle;
}

@media print {
    .cs-label-column {
        /*	font-size: 75%;	 */
        width: 150px;
    }
}

@media screen {
    .cs-label-column {
        /*	font-size: 75%;	 */
        width: 250px;
    }
}

.cs-form-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cs-form-button-group {
    margin-top: 30px;
    padding-left: 13px;
}

.cs-form-button {
    /*	background-color:#96AFCF; */
    border-radius: 20px 20px 20px 20px;
}

select.ng-invalid, input.ng-invalid {
    /*	border: 1px solid red;*/
}

select.ng-valid, input.ng-valid {
    /*  border: 1px solid green; */
}

select.ng-invalid-item, input.ng-invalid-item {
    border: 1px solid red;
}

.cs-form-error {
    border: 1px solid red;
}

.cs-form-warning-text {
    color: orange;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input {
    padding: 6px 8px;
}

.dropdown-menu {
    line-height: 1.5;
    margin-left: 15px;
    padding: 0 10px;
}

#tpl-content {
    height: 100%;
    width: 100%;
    padding: 0px;
}

.print-section {
    page-break-inside: avoid;
}

@media screen {
    .cs-section-header {
        font: 15px Helvetica, Arial;
        font-weight: bold;
        height: 35px;
        background-color: #5484c3 !important;
        padding-top: 10px;
        color: #fff !important;
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .cs-section-header {
        font: 15px Helvetica, Arial;
        font-weight: bold;
        height: 35px;
        background-color: #5484c3 !important;
        padding-top: 10px;
        -webkit-print-color-adjust: exact;
        color: #FFF !important;
        text-shadow: 0 0 3px #FFF !important;
    }
}

.cs-form-section {
    border-color: #ddd;
    border-style: solid;
    border-width: 0px;
    background: linear-gradient(to bottom, rgba(242, 239, 250, 0.21), rgba(84, 123, 195, 0.21));
    /*background-gradient: #e8effa - top; #5484c3 - bottom; -90 degrees;*/
}

.cs-form-border-active {
    background: linear-gradient(to bottom, rgba(242, 239, 250, 0.11), rgba(84, 123, 195, 0.11));
}

.cs-label {
    /*	font-size: 75%;	 */
    text-align: left;
    vertical-align: middle;
}

@media print {
    .cs-label-column {
        /*	font-size: 75%;	 */
        width: 150px;
    }
}

@media screen {
    .cs-label-column {
        /*	font-size: 75%;	 */
        width: 250px;
    }
}

.cs-form-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cs-form-button-group {
    margin-top: 30px;
    padding-left: 13px;
}

.cs-form-button {
    /*	background-color:#96AFCF; */
    border-radius: 20px 20px 20px 20px;
}

select.ng-invalid, input.ng-invalid {
    /*	border: 1px solid red;*/
}

select.ng-valid, input.ng-valid {
    /*  border: 1px solid green; */
}

select.ng-invalid-item, input.ng-invalid-item {
    border: 2px solid red;
}

.cs-form-error {
    border: 2px solid red;
}

.cs-form-warning-text {
    color: orange;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

label {
    font-weight: 400 !important;
}

.control-label {
    text-align: left !important;
}

.form-horizontal .form-group {
    margin-right: 0px !important;
}

.has-error .form-control {
    border: 3px #843534 solid !important;
}

.dn-group {
    padding: 0 15px !important;
    display: table !important;
}

.dn-input {
    width: inherit !important;
    display: table-cell !important;
}

.dn-date {
    display: table-cell !important;
    width: 90px;
}

.dn-doctype {
    display: table-cell !important;
    width: 275px;
}

.dn-name {
    display: table-cell !important;
    width: 100% !important;
}

select,
option {
    cursor: pointer !important;
}

.layout-container {
    height: 100%;
    width: 100%;
    padding: 0px;
}

.layout-container-child {
    height: 100%;
    overflow: hidden
}

.layout-container-child-left-column {
    width: 50%;
    float: left;
    overflow-y: auto;
    height: 100%;
}

.layout-container-child-right-column {
    width: 50%;
    float: right;
    overflow-y: auto;
    height: 100%;
}

.layout-container-child-right-column iframe {
    width: 100%;
    height: 100%;
}

.grey-background {
    background: #F0F0F0
}

.layout-container-child-left-column .hg40 {
    height: 40px;
}

.btn-bottombar {
    margin-left: 10%;
}

.btn-page {
    width: 40px;
    margin: 0 5px;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.m-top-minus-4 {
    margin-top: -4px
}

.input-range {
    padding: 6px;
    width: 40px;
}

.m-top-15 {
    margin-top: 15px
}

.document-naam-input {
    position: absolute;
    top: 8px;
    left: 20px;
    z-index: 2
}

.required-document-naam {
    padding-left: 20px !important;
}

.panel, .panel-heading {
    border-radius: 0;
}
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.custom-toast>div{
    padding: 25px;
}
.panel {
    margin-bottom: 5px;
}